<!DOCTYPE html>
<html lang="ja">
<html>
    <head>
        <meta charset="UTF-8">
        <title>就プレ</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <h3>駅名でトイレの空きを検索</h3>
        <form method="get" action="/toilet" class="search">
            <input type="text" size="25" placeholder="　駅名で検索" id="keyword" name="station_name">
            <input type="submit" value="&#xf002" onclick="">
        </form>

        <!-- <script src="../station.json" ></script> -->
        <script src="js/search.js"></script>
    </body>
</html>